<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/美国.png</string>
		<key>countryName</key>
		<string>美国</string>
		<key>id</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/沙特.png</string>
		<key>countryName</key>
		<string>沙特</string>
		<key>id</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/英国.png</string>
		<key>countryName</key>
		<string>英国</string>
		<key>id</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/德国.png</string>
		<key>countryName</key>
		<string>德国</string>
		<key>id</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/中国.png</string>
		<key>countryName</key>
		<string>中国</string>
		<key>id</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/澳大利亚.png</string>
		<key>countryName</key>
		<string>澳大利亚</string>
		<key>id</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/法国.png</string>
		<key>countryName</key>
		<string>法国</string>
		<key>id</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/意大利.png</string>
		<key>countryName</key>
		<string>意大利</string>
		<key>id</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/印尼.png</string>
		<key>countryName</key>
		<string>印尼</string>
		<key>id</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/日本.png</string>
		<key>countryName</key>
		<string>日本</string>
		<key>id</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/瑞典.png</string>
		<key>countryName</key>
		<string>瑞典</string>
		<key>id</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/印度.png</string>
		<key>countryName</key>
		<string>印度</string>
		<key>id</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/西班牙.png</string>
		<key>countryName</key>
		<string>西班牙</string>
		<key>id</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/欧盟.png</string>
		<key>countryName</key>
		<string>欧盟</string>
		<key>id</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/爱尔兰.png</string>
		<key>countryName</key>
		<string>爱尔兰</string>
		<key>id</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/南非.png</string>
		<key>countryName</key>
		<string>南非</string>
		<key>id</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/奥地利.png</string>
		<key>countryName</key>
		<string>奥地利</string>
		<key>id</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/葡萄牙.png</string>
		<key>countryName</key>
		<string>葡萄牙</string>
		<key>id</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/加拿大.png</string>
		<key>countryName</key>
		<string>加拿大</string>
		<key>id</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/韩国.png</string>
		<key>countryName</key>
		<string>韩国</string>
		<key>id</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/新加坡.png</string>
		<key>countryName</key>
		<string>新加坡</string>
		<key>id</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/挪威.png</string>
		<key>countryName</key>
		<string>挪威</string>
		<key>id</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/俄罗斯.png</string>
		<key>countryName</key>
		<string>俄罗斯</string>
		<key>id</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/荷兰.png</string>
		<key>countryName</key>
		<string>荷兰</string>
		<key>id</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/比利时.png</string>
		<key>countryName</key>
		<string>比利时</string>
		<key>id</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/拉脱维亚.png</string>
		<key>countryName</key>
		<string>拉脱维亚</string>
		<key>id</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/芬兰.png</string>
		<key>countryName</key>
		<string>芬兰</string>
		<key>id</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/伊朗.png</string>
		<key>countryName</key>
		<string>伊朗</string>
		<key>id</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/土耳其.png</string>
		<key>countryName</key>
		<string>土耳其</string>
		<key>id</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/卢森堡.png</string>
		<key>countryName</key>
		<string>卢森堡</string>
		<key>id</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/瑞士.png</string>
		<key>countryName</key>
		<string>瑞士</string>
		<key>id</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/吉尔吉斯斯坦.png</string>
		<key>countryName</key>
		<string>吉尔吉斯斯坦</string>
		<key>id</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/泰国.png</string>
		<key>countryName</key>
		<string>泰国</string>
		<key>id</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/朝鲜.png</string>
		<key>countryName</key>
		<string>朝鲜</string>
		<key>id</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/巴西.png</string>
		<key>countryName</key>
		<string>巴西</string>
		<key>id</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/丹麦.png</string>
		<key>countryName</key>
		<string>丹麦</string>
		<key>id</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/新西兰.png</string>
		<key>countryName</key>
		<string>新西兰</string>
		<key>id</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/墨西哥.png</string>
		<key>countryName</key>
		<string>墨西哥</string>
		<key>id</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/立陶宛.png</string>
		<key>countryName</key>
		<string>立陶宛</string>
		<key>id</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>countryFlag</key>
		<string>https://cdn.jin10.com/assets/img/commons/flag/欧元区.png</string>
		<key>countryName</key>
		<string>欧元区</string>
		<key>id</key>
		<integer>40</integer>
	</dict>
</array>
</plist>
